---
import { allPlaylists, playlists, songs } from "../../lib/data";
import Layout from "../../layouts/Layout.astro";
import Back from "../../icons/Back.astro";
import Play from "../../icons/Play.astro";
import Time from "../../icons/Time.astro";
import Heart from "../../icons/Heart.astro";
import Menu from "../../icons/Menu.astro";
import AlbumSong from "../../components/AlbumSong.astro";
import { Image } from "astro:assets";
import PlayButton from "../../components/PlayButton";

export const getStaticPaths = () => {
  return [
    { params: { id: "1" } },
    { params: { id: "2" } },
    { params: { id: "3" } },
    { params: { id: "4" } },
    { params: { id: "5" } },
  ];
};

const { id } = Astro.params;

const playlist = allPlaylists.find((p) => p.id === id);
const playlistSongs = songs.filter((s) => s.albumId === playlist?.albumId);
---

<Layout title={`${playlist?.title} | Spotify Clone`}>
  <div
    style={`backdrop-filter: blur(7px);     --tw-gradient-from: ${playlist?.color.accent}e6 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);`}
    class=`pt-2 relative z-10 bg-gradient-to-b overflow-x-hidden`
    transition:name=`playlist ${id} container`
  >
    <header class="w-full h-8 flex justify-between">
      <a
        href="/"
        class="bg-black rounded-full w-8 h-8 flex justify-center items-center p-2 ms-2"
        ><Back /></a
      >
      <a
        href="https://github.com/TomasDevCF"
        class="bg-zinc-200 transition-colors p-1 flex rounded-md hover:bg-white mx-2"
        target="_blank"
      >
        <svg
          viewBox="0 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="#000000"
          class="h-full pe-2"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <defs> </defs>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Dribbble-Light-Preview"
                transform="translate(-140.000000, -7559.000000)"
                fill="#000000"
              >
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                    id="github-[#142]"
                  >
                  </path>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <span class="text-black mt-[3px]">Github</span>
      </a>
    </header>

    <div
      class="playlist-info flex px-6 py-3 gap-2 md:flex-row flex-col md:items-start items-center"
    >
      {
        playlist && (
          <Image
            src={playlist.cover}
            alt={playlist.title}
            height={240}
            width={240}
          />
        )
      }
      <div class="md:px-7 flex flex-col gap-y-2 relative z-20 justify-center">
        <p>Playlist</p>
        <h1 class="text-6xl">{playlist?.title}</h1>
        <h2 class="text-base">{playlist?.artists.join(", ")}</h2>
        <p>40 likes, {playlistSongs.length} musics, about 12min 16s</p>
      </div>
    </div>
    <div class="songs w-full bg-zinc-900/15 relative z-40 p-4">
      <div class="action-btns flex gap-4 pb-4">
        <button
          class="bg-green-600 rounded-full h-14 w-14 flex items-center justify-center shadow-2x hover:bg-green-500 transition-colors"
          ><PlayButton
            albumId={playlist?.albumId ? playlist?.albumId : 1}
            id={parseInt(id)}
            client:visible
          /></button
        >
        <button
          class="ps-4 text-green-500 hover:scale-110 transition-transform"
        >
          <Heart />
        </button>
        <button class="text-gray-300 hover:text-gray-100 transition-colors">
          <Menu />
        </button>
      </div>
      <table class="table-auto w-full text-left">
        <thead>
          <tr class="font-normal text-gray-300 border-b-2 border-gray-400">
            <th class="px-4 py-2">#</th>
            <th class="px-4 py-2">Title</th>
            <th class="px-4 py-2 sm:table-cell hidden">Album</th>
            <th class="text-right px-4 py-2 md:table-cell hidden"><Time /></th>
          </tr>
        </thead>
        <tbody>
          {
            playlistSongs.map((s) => (
              <AlbumSong
                albumId={s.albumId}
                album={s.album}
                duration={s.duration}
                id={s.id}
                image={s.image}
                singers={s.artists}
                title={s.title}
              />
            ))
          }
        </tbody>
      </table>
    </div>

    <div class="absolute h-full inset-0 z-[-1] bg-gradient-to-b">
      <img
        src={playlist?.cover}
        alt={playlist?.title}
        class="z-[-1] absolute inset-0 mix-blend-overlay opacity-20 w-full h-full object-cover blur-md"
      />
    </div>
  </div>
</Layout>
