---
import PlayButton from "./PlayButton";

interface Props {
  title: string;
  singers: string[];
  album: string;
  id: number;
  duration: string;
  image: string;
  albumId: number;
}

let { title, album, id, duration, image, singers, albumId } = Astro.props;
---

<tr class="group text-gray-300 hover:bg-gray-500/50 transition-colors">
  <td class="py-2 px-2 text-center song-id w-8 max-w-8 min-w-8">
    <span class="id">{id}</span>
    <PlayButton className="hidden" id={id} albumId={albumId} client:load />
  </td>
  <td class="flex gap-2 items-center py-2 px-4">
    <img src={image} alt={title} class="h-12" />
    <div class="flex flex-col">
      <p class="text-ellipsis overflow-hidden text-nowrap">{title}</p>
      <p class="text-ellipsis overflow-hidden text-nowrap">{singers.join(", ")}</p>
    </div>
  </td>
  <td class="py-2 px-4 sm:table-cell hidden">{album}</td>
  <td class="py-2 px-4 text-right md:table-cell hidden">{duration}</td>
</tr>

<style is:global>
  .group:hover .song-id .hidden {
    display: inline;
  }

  .group:hover .song-id .id {
    display: none;
  }
</style>
